/*
/.**

# ホワイトリスト
!/stow/
stow/*
!/stow/zsh/
!/stow/zsh/**
!/stow/nvim/
!/stow/nvim/**
!/stow/ghostty/
!/stow/ghostty/**
!/stow/git/
!/stow/git/**
!/stow/bin/
!/stow/bin/**
!/stow/tmux/
!/stow/tmux/**

!/docs/
!/docs/**
!/packages/
!/packages/**
!/tests/
!/tests/**
!/mise.toml
!/README.md
!/LICENSE
!.gitignore
